@model IEnumerable<Data.Models.Message>

@{
    ViewBag.Title = "Inkorg";
}
<h2>Inkorg</h2>

@*<div id="resultCount" style="background: yellow;"></div>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Read)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.UserName == User.Identity.Name)
        {
            <tr>
                <td>
                    @if (item.Read == true)
                    {
                        <input type="checkbox" data-id="@item.Id" checked />
                    }
                    else
                    {
                        <input type="checkbox" data-id="@item.Id" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    }


</table>
<div id="result" style="background: yellow;"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                var messageId = $(this).data('id');
                if ($(this).is(":checked")) {
                    $("#result").html("Checkbox is checked." + messageId);
                    $.get('/api/message/read/' + messageId)
                }
                else if ($(this).is(":not(:checked)")) {
                    $("#result").html("Checkbox is unchecked.");
                    $.get('/api/message/unread/' + messageId)
                }
            });
        });
    </script>
    @*<script>
            $(document).ready(function () {
                setInterval(function () {
                    var count;
                    $.get('/api/message/countmessages/', function (result) {
                        count = result;
                        console.log('hej')
                        $("#resultCount").html("(Olästa:" + count + ")");
                    })
                }, 1000);
            })
        </script>*@
    <script>
            function unreadMessages()
            {
                $.get('/api/message/countmessages/', function (result) {
                    count = result;
                    $("#resultCount").html("(Olästa:" + count + ")");
                })
            }

            $(document).ready(function startSetInterval() {
                setInterval(function unreadmessages() {
                    unreadMessages();
                    return unreadMessages;
                }(), 2000);
            })

     </script>

}