@model IEnumerable<Data.Models.Message>

@{
    ViewBag.Title = "Inkorg";
}
<h2>Inkorg</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Read)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Receiver == User.Identity.Name)
        {
            <tr>
                <td>
                    @if (item.Read == true)
                    {
                        <input type="checkbox" data-id="@item.Id" checked />
                    }
                    else
                    {
                        <input type="checkbox" data-id="@item.Id" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    }


</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                var messageId = $(this).data('id');
                if ($(this).is(":checked")) {
                    $.get('/api/message/read/' + messageId)
                }
                else if ($(this).is(":not(:checked)")) {
                    $.get('/api/message/unread/' + messageId)
                }
            });
        });
    </script>   
}