@model IEnumerable<Data.Models.Message>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<div id="resultCount" style="background: yellow;"></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Read)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.UserName == "xxx")
        {
            <tr>
                <td>
                    @*@Html.CheckBox("IsActive", false)*@
                    @*@Html.CheckBoxFor(modelitem => item.Read, new { @checked = "checked" })*@
                    <input type="checkbox" data-id="@item.Id" @Html.CheckBoxFor(modelitem => item.Read)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    }


</table>
<div id="result" style="background: yellow;"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                var messageId = $(this).data('id');
                if ($(this).is(":checked")) {
                    $("#result").html("Checkbox is checked." + messageId);
                    $.get('/api/message/read/' + messageId)
                }
                else if ($(this).is(":not(:checked)")) {
                    $("#result").html("Checkbox is unchecked.");
                    $.get('/api/message/unread/' + messageId)
                }
            });
        });
    </script>
    @*<script>
            $(document).ready(function () {
                var count;
                $.get('/api/message/countmessages/', function (result) {
                    count = result;
                    $("#resultCount").html("Du har så här många olästa meddelanden : " + count);
                })

            });
        </script>*@
    <script>
        $(document).ready(function () {
            setInterval(function () {
                var count;
                $.get('/api/message/countmessages/', function (result) {
                    count = result;
                    $("#resultCount").html("Du har så här många olästa meddelanden : " + count);
                })
            }, 3000);
        })
        </script>



}