@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Inkorg", "Index", "Message", routeValues: null, htmlAttributes: new { title = "Manage" })

            </li>
            <li style="text-align: center; color : white; margin: auto; height: 50px; padding: initial">
                <div id="resultCount" style="text-align: center; height: 50px; padding-top: 17px;"> </div>
            </li>
            <li>
                @Html.ActionLink("Redigera CV", "Index", "Cv", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                @Html.ActionLink("Redigera Projekt", "UserIndex", "Project", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                @Html.ActionLink("Redigera konto", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrera", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@section scripts{
    <script>
        setInterval(function () {
            $.ajax({
                url: '/api/message/countmessages',
                method: 'GET',
                success: function (result) {
                    $("#resultCount").html("(Olästa:" + result + ")");
                },
                error: function () {
                    window.alert('error');
                }
                });
            }, 2000);
       
    </script>
}