@model IEnumerable<Data.Models.Project>

@{
    ViewBag.Title = "MainIndex";
}

<h2>Alla projekt</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AddedDate)
    </td>
    <td>
        @foreach(var user in item.UserInProject)
        {
        <table>
            <tr>
                <td>
                    @Html.ActionLink(user.UserName, "Index", "Cv", new { id = item.Id })
                </td>
            <tr />
        </table>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
</tr>
}
</table>
