@model IEnumerable<Data.Models.CV>

@{
    ViewBag.Title = "Index";
}
<h2>Alla Cvn</h2>

<p>
    @using (Html.BeginForm())
    {
        <p> Namn: @Html.TextBox("searchString") <br />
            <input type="submit" value="Sök" />
        </p>    
    }
<p />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*@{ var imagepath = "/UploadedImages/" + @Model.ImagePath; }
                    <img src="@imagepath" alt="Lägg till bild" style="width: 100px; height: 130px;" />*@
                    @{ var imagePath = "/UploadedImages/" + item.ImagePath; }
                    <img src="@imagePath" style="max-width: 100px; max-height: 130px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Visa CV", "Index", new { item.Id })
                </td>
            </tr>
        }

    </table>