@model Shared.Models.HomeViewModel

<div>
    @{
        if (Model.ListOfCvs.Count > 0)
        {
            <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => Model.ListOfCvs[0].Name)</h2>
                <p> @Html.DisplayFor(modelItem => Model.ListOfCvs[0].UserName)</p>
                <p>@Html.ActionLink("VISA CV", "Index", "CV", new { userName = Model.ListOfCvs[0].UserName }, null) </p>
            </div>
        }
        if (Model.ListOfCvs.Count > 1 )
        {
            <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => Model.ListOfCvs[1].Name)</h2>
                <p> @Html.DisplayFor(modelItem => Model.ListOfCvs[1].UserName)</p>
                <p>@Html.ActionLink("VISA CV", "Index", "CV", new { userName = Model.ListOfCvs[1].UserName }, null) </p>
            </div>
        }
        if (Model.ListOfCvs.Count > 2)
        {
            <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => Model.ListOfCvs[2].Name)</h2>
                <p> @Html.DisplayFor(modelItem => Model.ListOfCvs[2].UserName)</p>
                <p>@Html.ActionLink("VISA CV", "Index", "CV", new { userName = Model.ListOfCvs[2].UserName }, null) </p>
            </div>
        }
    }
</div>

