@model Data.Models.CV

@{
    ViewBag.Title = "Index";
}

<h2>CV</h2>


@*<div class="jumbotron">
        <h1>SENASTE PROJEKTET</h1>
        <p class="lead">Lägg till info om det senaset projektet</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">LÄS MER</a></p>
    </div>*@

<div class="row">
    <div class="col-md-4">
        <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) </p>
        <p>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</p>
        <p>@Html.DisplayNameFor(model => model.Private): @Html.DisplayFor(model => model.Private)</p>
        <p>@Html.ActionLink("Ändra", "Edit", Model.Id)</p>
    </div>
    <div class="col-md-4">
        <img src="#" alt="Lägg till bild" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ändra</a></p>
    </div>
    <div class="col-md-4">
            <h2>Skicka meddelande</h2>
            <p>@Html.ActionLink("Skicka", "Create", "Message")</p>
        </div>
</div>

